.form_box {
  background: white;
  display: grid;
  grid-template-columns: auto;
  padding: 25px;
  min-width: 300px;
  max-width: 500px;
  border-radius: 20px;
}

.form_box>label {
  font-size: 20px;
  display: grid;
  grid-template-columns: auto auto;
  margin: 10px 0 10px 0;
}

.form_box>label>input {
  margin-left: 10px;
  font-size: 20px;
  min-width: 150px;
  max-width: 200px;
  border: none;
  border-radius: 10px;
  background: #eee;
  padding: 5px 15px 5px 15px;
}

.form_box>button {
  height: 50px;
  margin-top: 30px;
  background: black;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}